.section {
  border: 1px solid black;
  padding: 120px;
  width: calc(100% - 40px);
  max-width: 800px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
}

.btn-panel {
  width: 100%;
  max-width: 80px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: 70px;
  left: 70px;
  border: none;
}
