* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

.header {
  background: rgba(33, 150, 243, 1);
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.tabs {
  display: flex;
  height: 100%;
  padding-left: 15px;
}

.buttons {
  background: rgba(33, 150, 243, 1);
  border: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  height: 100%;
  padding: 24px 15px;
}

.buttons.active {
  background: rgba(30, 136, 229, 1);
}

.btn-logout {
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: rgba(33, 150, 243, 1);
}

@media (min-width: 481px) {
  .mobile-menu-button {
    display: none;
  }
}

@media (max-width: 480px) {
  .tabs {
    visibility: hidden;
  }

  .mobile-menu-button {
    padding-left: 15px;
    cursor: pointer;
    position: relative;
  }

  .header {
    height: 64px;
  }

  .btn-menu {
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 46px;
    width: 100vw;
    height: 60px;
  }

  .btn-logout {
    min-width: 70px;
  }
}
