* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

.header {
  background: rgba(33, 150, 243, 1);
  display: flex;
  align-items: center;
  padding-right: 15px;
  height: 64px;
}

.tabs {
  padding-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.icon-menu {
  cursor: pointer;
}

.tabs-menu {
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 64px;
  width: 250px;
  z-index: 100;
  background-color: rgba(30, 136, 229, 1);
  height: calc(100vh - 64px);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.tabs-menu.open {
  transform: translateX(0);
}

.buttons {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.buttons.level-1 {
  padding-left: 40px;
}

.buttons.level-2 {
  padding-left: 70px;
}

.buttons.active {
  background: #00bfff;
}

.btn-logout {
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: rgba(33, 150, 243, 1);
}

.container-text-icon {
  display: flex;
  justify-content: space-between;
}

.list-sections {
  list-style: none;
}
