.containerFormSearch {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.inputFormSearch {
  width: 400px;
  height: 25px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.listUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  font-size: 18px;
}

.matchesMessage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loaderUsers {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media (max-width: 440px) {
  .inputFormSearch {
    width: 340px;
  }
}

@media (max-width: 380px) {
  .inputFormSearch {
    width: 280px;
  }
}
