.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
  max-width: 300px;
  margin: 0 auto;
}

.inputForm {
  max-width: 300px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  outline: none;
}

.titleField {
  font-size: 18px;
  font-weight: normal;
}

.btnSubmit {
  width: 100px;
  height: 30px;
  margin-left: auto;
  background: #ffd700;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.messageValidate {
  color: red;
  font-size: 18px;
}

.inputForm-border {
  border: 1px solid red;
}

.toastInfo {
  margin-top: 80px;
}

.containerForm {
  width: 100%;
}

.wrapperInput {
  width: 100%;
}
